

<nav class="navbar">

    <!-- Liens gauche -->
    <div class="nav-left">
        <a href="../lieu.php">Le lieu</a>
        <a href="../event.php">Les événements</a>
    </div>

    <!-- Logo centré -->
    <div class="nav-center">
        <a href="index.html">
            <img src="./assets/images/logo.png" alt="Logo Le Plateau" height="70">
        </a>
    </div>

    <!-- Liens droite -->
    <div class="nav-right">
        <a href="../association.php">L'association</a>
        <a href="../contact.php">Nous contacter</a>
    </div>

</nav>